* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100dvw;
    min-width: 50dvw;
    min-height: 100dvh;
    background-color: #272C37;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}
    
.column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-space-evenly {
    justify-content: space-around;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.light-font {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}