.title-header {
    padding-left: 2%;
    padding-right: 2%;
}

.home-logo {
    height: auto;
    max-width: 10rem;
    margin-right: -8%;
}

.home-nav {
    border-bottom: 1px solid;
    border-color: whitesmoke;
    padding: 1.4rem 1.1rem;
    gap: 20dvw;
    background-color: #5D83BD;
    overflow: hidden;
}

.home-nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
}

.home-nav a:hover {
    background-color: whitesmoke;
    color: #5D83BD;
}

.active-nav {
    background-color: rgb(39, 44, 55);
    color: white;
}

.home-nav-user {

}

.nav-elem {
    text-align: center;
    font-size: 1.4rem;
}

.home-title {
    text-align: center;
    padding: 1.2rem 0px;
}

.home-subtitle {
    text-align: center;
}

main {
    margin: 2em 0em;
}

.form-field {
    min-width: 4rem;
    max-width: 10rem;
    border-radius: 6%;
    background-color: rgba(39, 44, 55, 1);
    height: 1.6em;
    color: whitesmoke;
    text-align: center;
}

.prof-details {
    width: 100%;
    height: fit-content;
    gap: 4rem
}

.prof-details section {
    width: 80%;
    gap: 1.1rem;
}

.change-btn {
    width: 4em;
    height: 2em;
    border: #5D83BD;
    border-radius: 20px;
}

@media (max-width: 1200px) {
}

@media (max-width: 900px) {
    .home-nav {
        gap: 7%;
    }
}

@media (max-width: 600px) {
    .home-nav {
        gap: 6%;
    }

    .nav-elem {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
}